<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style2.css">
  </head>
  <body>
    <form class="modal-content animate" action="/register" method="post" enctype="multipart/form-data">
      <div class="imgcontainer">
        <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="avatar" style="cursor: pointer;">
        <input style="display: none;" type="file" name="photo" id="photo">
      </div>

      <%- include('./messages.ejs') %> 

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" value="<%= body.username %>" required>

        <label for="psw"><b>E-mail</b></label>
        <input type="email" placeholder="example@example.example" name="email" value="<%= body.email %>" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
          
        <button type="submit">Sign Up</button>
        <a href="/">Already have an account??</a>
      </div>
    </form>
  </body>
</html>

<script src="/js/plugins/ImageLoadPlugin.js"></script>

<script>
    new ImageLoadPlugin(".avatar", "#photo")
</script>